* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#00003f,#3e002f);
    height: 100vh;
    font-family: system-ui;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
ul {
    text-align: center;
}
ul:hover a {
    opacity: 0;
}
ul li {
    list-style: none;
    margin: 14px 0;
}
ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
    background-color: darkblue;
    padding: 8px 15px;
    border-radius: 20px;
    display: inline-block;
    transition: 0.4s;
    width: 120px;
    position: relative;
    z-index: 1;
}
ul li a:hover {
    transform: scale(1.5);
    background-color: rgb(129, 0, 77);
    opacity: 1;
} 
ul li::after {
    content: attr(data-txt);
    color: #fff;
    font-size: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    letter-spacing: 50px;
}
ul li:hover::after {
    opacity: 0.5;
    letter-spacing: 4px;
}
ul li::before {
    content: '';
    width: 180px;
    height: 80px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 70%);
    border-radius: 50%;
    box-shadow: 0 0 80px orangered;
    opacity: 0;
    transition: 0.5s;
}
ul li:hover::before {
    opacity: 0.5;
    width: 80px;
}
